# Requirements for the stable Linux, macOS and Windows releases
# XXX:
# Below is just a crutch since the Flatpak pip helper has problems with detecting extra dependencies.
# These are the dependencies of SkyTemple Files spritecollab extra:
gql[aiohttp] >= 3.5.0
graphql-core >= 3.2.0
aiohttp[speedups]
lru-dict >= 1.1.8
# Actual dependencies of SkyTemple itself:
skytemple-rust==1.8.5
skytemple-files[spritecollab]==1.8.5
skytemple-ssb-debugger==1.8.3
skytemple-ssb-emulator==1.8.1
skytemple-eventserver==1.6.0
skytemple-dtef==1.8.0
skytemple-icons==1.3.2
explorerscript==0.2.3
tilequant==1.2.0
pmdsky-debug-py
ndspy==4.2.0
range-typed-integers >= 1.0.0
pycairo==1.18.2; sys_platform != "win32"
natsort==8.4.0
pypresence==4.3.0
pygal==3.0.5
CairoSVG==2.7.1
psutil==6.1.1
sentry-sdk==2.19.2
cairocffi>=1.6.1
packaging
wheel  # setuptools-dso (via tilequant) needs that at runtime
setuptools  # wheel needs that at runtime
