# Also for Linux Flatpak
ndspy==4.1.0
skytemple-files[spritecollab]==1.6.3
pmdsky-debug-py
skytemple-dtef==1.6.1
skytemple-icons==1.3.2
range-typed-integers >= 1.0.0
pycairo==1.18.2; sys_platform != "win32"
natsort==8.4.0
tilequant==1.1.0
skytemple-ssb-debugger==1.6.2
skytemple-eventserver==1.6.0
pypresence==4.3.0
pygal==3.0.1
CairoSVG==2.7.1
gbulb==0.6.4
psutil==5.9.8
sentry-sdk==1.35.0
cairocffi>=1.6.1
packaging
wheel
importlib_metadata>=4.6; python_version < "3.10"
Pillow~=10.0.0  # issues with macOS and Pillow 10.1.0 (jpeg import)
