# Requirements for the stable Linux, macOS and Windows releases
# TODO: Bump
skytemple-rust==1.6.5
# TODO: Bump
skytemple-files[spritecollab]==1.7.0
# TODO: Replace before release: skytemple-ssb-debugger==1.8.0
skytemple-ssb-debugger @ git+https://github.com/skytemple/skytemple-ssb-debugger
skytemple-ssb-emulator==1.8.0
skytemple-eventserver==1.6.0
skytemple-dtef==1.6.1
skytemple-icons==1.3.2
explorerscript==0.2.1.post2
tilequant==1.1.0
pmdsky-debug-py
ndspy==4.1.0
range-typed-integers >= 1.0.0
pycairo==1.18.2; sys_platform != "win32"
natsort==8.4.0
pypresence==4.3.0
pygal==3.0.4
CairoSVG==2.7.1
psutil==5.9.8
sentry-sdk==2.10.0
cairocffi>=1.6.1
packaging
wheel
importlib_metadata>=4.6; python_version < "3.10"
# Below is just a crutch since the Flatpak pip helper has problems with detecting extra dependencies.
# These are the dependencies of SkyTemple Files spritecollab extra:
gql[aiohttp] >= 3.5.0
graphql-core >= 3.2.0
aiohttp[speedups]
lru-dict >= 1.1.8