/*
 * Copyright 2020 Parakoopa
 *
 * This file is part of SkyTemple.
 *
 * SkyTemple is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * SkyTemple is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with SkyTemple.  If not, see <https://www.gnu.org/licenses/>.
 */

#skytemple_main_label {
    font-size: 2.5em;
}
.skytemple-view-main-label {
    font-size: 1.5em;
}

.skytemple-dialog-large {
    font-size: 1.25em;
}

.open_doc_tree:hover {
    background-color: alpha(@theme_fg_color, 0.10);
}

.open_doc_tree:hover:selected {
    background-color: @theme_selected_bg_color;
}

.dungeon_editor_column_header_invalid {
    color: #cc2929;
}
