# These are to be removed once migrated.
!/dungeon_graphics/main.ui
!/dungeon_graphics/dungeon_bg.ui
!/dungeon_graphics/colvec.ui
!/dungeon_graphics/trp_itm_img.ui
!/dungeon_graphics/tileset.ui
!/monster/level_up.ui
!/monster/main.ui
!/monster/monster.ui
!/music/main.ui
!/patch/item_effects.ui
!/patch/pmdsky_debug.ui
!/patch/asm.ui
!/patch/move_effects.ui
!/patch/cot.ui
!/patch/sp_effects.ui
!/rom/main.ui
!/spritecollab/browser.ui
!/map_bg/main.ui
!/map_bg/bg.ui
!/moves_items/item_lists.ui
!/moves_items/move.ui
!/moves_items/item.ui
!/moves_items/item_keys.ui
!/gfxcrunch/gfxcrunch.ui
!/misc_graphics/wte_wtu.ui
!/misc_graphics/graphic_font.ui
!/misc_graphics/font.ui
!/misc_graphics/w16.ui
!/misc_graphics/cart_removed.ui
!/misc_graphics/zmappat.ui
!/misc_graphics/chr.ui
!/script/main.ui
!/script/pos_mark_editor.ui
!/script/ssb.ui
!/script/ssa.ui
!/script/map.ui
!/lists/animations.ui
!/lists/iq.ui
!/lists/dungeon_interrupt.ui
!/lists/tactics.ui
!/lists/rank_list.ui
!/lists/menu_list.ui
!/lists/misc_settings.ui
!/lists/world_map.ui
!/lists/dungeon_music.ui
!/portrait/portrait.ui
!/user_feedback.ui
!/dungeon/fixed.ui
!/dungeon/fixed_rooms.ui
!/dungeon/main.ui
!/dungeon/invalid.ui
!/dungeon/dungeon.ui
!/dungeon/floor.ui
!/status_page.ui
!/strings/strings.ui
!/sprite.ui
!/tiled_img/chunk_editor.ui
!/tiled_img/palette_editor.ui
!/bgp/bgp.ui
!/sprite/object.ui
!/sprite/object_main.ui
!/sprite/monster_sprite.ui